<script>
  document.getElementById("admin-setup-nav").className = "active";
</script>

<ul class="nav nav-tabs">
    <li><%= link_to 'Contest', new_admin_setup_contest_path %></li>
    <li class="active"><%= link_to 'Judge',new_admin_setup_judge_path %></li>
    <li><%= link_to 'Auctioneer',new_admin_setup_auctioneer_path %></li>
    <li><%= link_to 'Questions', qsheets_path %></li>
</ul>
<div class="panel panel-default">
  
<div class="panel-heading"><h4>Register Judge</h4></div>

<div class="panel-body">
<%= form_for @user, url: {action: "create"}, :html => {:class => 'form-horizontal'} do |f| %>

<%= render 'shared/errors', object: @user %>
    
    <div class="form-group">
      <%= f.label :name, class: 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Enter full name', required: true %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :email, class: 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Enter email', required: true %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :password, class: "control-label col-sm-2" %>
      <div class="col-sm-10"> 
        <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password', required: true %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :password_confirmation, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm password', required: true %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :contest, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= fields_for @contest do |contest| %>
          <%= contest.collection_select :contest_name, Contest.order(:contest_name), :id, :contest_name, include_blank: false %> 
        <% end %>
      </div>
    </div>
   
    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Register Judge', class: 'btn btn-primary btn-med' %>
      </div>
    </div>
<% end %>

</div>
</div>

<hr>

  <h2>Current Judges</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Contest</th>
        <th>Delete</th>
      </tr>
    </thead>
    
    <tbody>
      <% @jList.each do |value|%>
      <tr>
        <td><%= value[:name] %></td>
        <td><%= value[:email] %></td>
        <td><%= value[:bare_password] %></td>
        <td>
        
        <%= fields_for @contest do |contest| %>
          <% if Contest.find_by(contest_name: value[:contest_name]) != nil %>
            <%= contest.collection_select :contest_name, Contest.order(:contest_name), :id, :contest_name, :include_blank => 'Not assigned', :selected => Contest.find_by(contest_name: value[:contest_name]).id %>
            <%= link_to 'Reassign', admin_setup_judge_path(value), :method => :get %>
          <% else %>
            <%= contest.collection_select :contest_name, Contest.order(:contest_name), :id, :contest_name, :include_blank => 'Not assigned', :selected => nil %>
            <%= link_to 'Reassign', admin_setup_judge_path(value), :method => :get %>
          <% end %>
        <% end %>
        
        </td>
        
        <td>
          <%=  link_to admin_setup_judge_path(value), :method => :delete do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
          <% end %> 
        </td>

      </tr>
      <% end %>
    </tbody>
  </table>
  