<p id="notice"><%= notice %></p>
<script>
  document.getElementById("admin-setup-nav").className = "active";
</script>

<ul class="nav nav-tabs">
    <li><%= link_to 'Contest', new_admin_setup_contest_path %></li>
    <li><%= link_to 'Judge', new_admin_setup_judge_path %></li>
    <li><%= link_to 'Auctioneer', new_admin_setup_auctioneer_path %></li>
    <li class='active'><%= link_to 'Questions', qsheets_path %></li>
</ul>


<% @contests.each do |contest| %>
<br>
  <h1 class="display-4"><%= contest.contest_name%> Contest</h1>
  <table class="table table-striped table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th class="col-xs-6 col-sm-4">Division</th>
        <th class="col-xs-6 col-sm-4">Round No.</th>
        <th class="col-xs-6 col-sm-4">View</th>
      </tr>
    </thead>
    
    <tbody>
      <!--we are looking at a list of all qsheets
      every round has 1 qsheet
      fewere divisions than rounds
      for each division, if its contest id 
      matches the current contest id, we are good.-->
      <% @divisions.each do |division| %>
      <%   if division.contest_id == contest.id %> 
            <tr>
              <td><%= division.division_name %></td>
              <td><%= division.round %></td>
              <td>
                <%=  link_to qsheets_show_path(:id => division.id) do %> View questions
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 
                <% end %> 
              </td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>



