<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs">
    <li><%= link_to 'Contest', new_admin_setup_contest_path %></li>
    <li><%= link_to 'Judge', new_admin_setup_judge_path %></li>
    <li><%= link_to 'Auctioneer', new_admin_setup_auctioneer_path %></li>
    <li class='active'><%= link_to 'Questions', qsheets_path %></li>
</ul>

<h2>Add New Question Sheet</h2>

<button class="btn btn-primary btn-med"><%= link_to 'New Qsheet', new_qsheet_path %></button>

<h2>Listing Qsheets</h2>

<table>
  <thead>
    <tr>
      <th>Contest</th>
      <!--<th colspan="3"></th>-->
    </tr>
  </thead>

  <tbody>
    <% @qsheets.each do |qsheet| %>
      <tr>
        <td><%= qsheet.contest %></td>
        <%= @currIndex += 1 %>
        <td><%= link_to 'Show',qsheet %></td>
        <td><%= link_to 'Edit', edit_qsheet_path(qsheet) %></td>
        <!--<td><%#= link_to 'Destroy', qsheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        <td>
        <%= link_to(qsheets_path, :html => {:class => 'btn btn-default btn-med'}) do %>
          <span class='glyphicon glyphicon-trash'></span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

