<p id="notice"><%= notice %></p>
<script>
  document.getElementById("admin-setup-nav").className = "active";
</script>

<ul class="nav nav-tabs">
    <li><%= link_to 'Contest', new_admin_setup_contest_path %></li>
    <li><%= link_to 'Judge', new_admin_setup_judge_path %></li>
    <li><%= link_to 'Auctioneer', new_admin_setup_auctioneer_path %></li>
    <li class='active'><%= link_to 'Questions', qsheets_path %></li>
</ul>


<% @contests.each do |contest| %>
<br>
  <h2><%= contest.contest_name%> Contest
    <button class="btn btn-link btn-med">
      <%#= link_to '+ Add New QSheet', new_qsheet_path(:id => contest.id) %>
    </button>
  </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Division</th>
        <th>Round</th>
        <th>View</th>
      </tr>
    </thead>
    
    <tbody>
      <!--we are looking at a list of all qsheets
      every round has 1 qsheet
      fewere divisions than rounds
      for each division, if its contest id 
      matches the current contest id, we are good.-->
      <% @divisions.each do |division| %>
      <%   if division.contest_id == contest.id %> 
            <tr>
              <td><%= division.division_name %></td>
              <td><%= division.round %></td>
              <td><%= link_to 'Show', qsheets_show_path(:id => division.id) %></td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>



