<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs">
    <li><%= link_to 'Contest', new_admin_setup_contest_path %></li>
    <li><%= link_to 'Judge', new_admin_setup_judge_path %></li>
    <li><%= link_to 'Auctioneer', new_admin_setup_auctioneer_path %></li>
    <li class='active'><%= link_to 'Questions', qsheets_path %></li>
</ul>

<h2>List of Question Sheet</h2>
<div id="ListQSheet" class="form-group">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Question Sheet</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% @rounds.each do |round|%>
         <tr>
          <td><%= round[:division_name] + " of " + round[:contest_name] + "(round:" + round[:round].to_s + ")" %></td>
          <td><%= link_to 'Edit', edit_qsheet_path(round[:division_id]) %></td>
          <!--
          <td>
            <%#= link_to(qsheets_path, :html => {:class => 'btn btn-default btn-med'}) do %>
            <span class='glyphicon glyphicon-trash'></span>
          </td>
          -->
         </tr>
        <% end %>
    </tbody>
  </table>
</div>
<!--<button class="btn btn-primary btn-med"><%#= link_to 'New Qsheet', new_qsheet_path %></button> -->