<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<p>
  <strong>Contest:</strong>
<div class="container">
  <h2>Current Judges</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Question Number</th>
        <th>Content</th>
        <th>Delete</th>
=======
<!--<p id="notice"><%#= notice %></p>-->

<p>
  <strong>Question Sheet created for contest ________ !</strong>
</p>

<div class="container">
  <h2>Questions</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class='col-sm-1'>Number</th>
        <th class='col-sm-4'>Content</th>
        <th class='col-sm-1'>Delete</th>
>>>>>>> origin/test3
      </tr>
    </thead>
      <tbody>
      <% @tSheet.each do |question|%>
      <tr>
        <td><%= @incr.to_s %></td>
        <td><%= question.content %></td>
<<<<<<< HEAD
        <td><%=  link_to 'Delete', qsheet_path(question), :method => :delete %></td>
=======
        <!--<td><%#=  link_to 'Delete', qsheet_path(question), :method => :delete %></td>-->
        <td>
          <%= link_to(qsheet_path(question), :method => :delete, :html => {:class => 'btn btn-default btn-med'}) do %>
          <span class='glyphicon glyphicon-trash'></span></td>
          <% end %>
>>>>>>> origin/test3
        <%= @incr += 1 %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
  
</p>

<%= link_to 'Edit', edit_qsheet_path(@qsheet) %> |
<%= link_to 'Back', qsheets_path %>


