<script>
  document.getElementById('admin-nav').className = "active"; 
</script>
<div class="container">
  <% @contests.each do |contest| %>
    <h2>Results for: 
      <%= contest.contest_name%>
    </h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
            <th>Division</th>
            <th>Round</th>
            <th>Name</th>
            <th>Score</th>
            <th>View Results</th>
        </thead>
        <tbody>
          <% Division.where(contest_id: contest.id).each do |div| %>
              <% @aucList = Auctioneer.where(division_id: div.id) %>
              <% if @aucList.length > 0 %>
                  <% @aucList.each do |auc| %> 
                      <tr>
                        <td><%= div.division_name %></td>
                        <td><%= div.round %></td>
                        <td><%= User.find(auc.user_id).name %></td>
                        <td><%= @aucAvgScore[auc.id] %></td>
                        <td><%= link_to 'Results', admin_scoreSummary_path(:auc_id => auc.id, :contest_name => contest.contest_name, :division_name => div.division_name), target: :_blank %></td>
                      </tr>
                  <% end %> 
              <% else %>
                  <tr>
                    <td><%= div.division_name %></td>
                    <td><%= div.round %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
              <% end %> 
          <% end %> 
          </table>
          <br>
  <% end %>
  
</div>


<script>

$(document).ready(function () {
    $(".btn-select").each(function (e) {
        document.getElementById("admin-nav").className = "active"
        var value = $(this).find("ul li.selected").html();
        if (value != undefined) {
            $(this).find(".btn-select-input").val(value);
            $(this).find(".btn-select-value").html(value);
        }
    });
});

$(document).on('click', '.btn-select', function (e) {
    e.preventDefault();
    var ul = $(this).find("ul");
    if ($(this).hasClass("active")) {
        if (ul.find("li").is(e.target)) {
            var target = $(e.target);
            target.addClass("selected").siblings().removeClass("selected");
            var value = target.html();
            $(this).find(".btn-select-input").val(value);
            $(this).find(".btn-select-value").html(value);
            document.getElementById("resultsTitle").innerText = 'Realtime Results - ' + value.toString();
            document.getElementById("judgeTitle").innerText = 'Judges - ' + value.toString();
        }
        ul.hide();
        $(this).removeClass("active");
    }
    else {
        $('.btn-select').not(this).each(function () {
            $(this).removeClass("active").find("ul").hide();
        });
        ul.slideDown(300);
        $(this).addClass("active");
    }
});

$(document).on('click', function (e) {
    var target = $(e.target).closest(".btn-select");
    if (!target.length) {
        $(".btn-select").removeClass("active").find("ul").hide();
    }
});

</script>
