<h2>Viewing Results for <%= @auctioneerName %></h2>
         
        <%= @auctioneerId %> 
        <%= @contestName %> 
        <%= @auctioneerName %> 
        <%= @auc %>
        <%= @user %> 
        <%= @div %> 
        <%= @contest %> 
        <%= @qsheet %> 
        <%= @qs %> 
        <%= @judge %> 
        <%= @scoresHash %>
        