<!--<li><%= link_to 'Judge', setup_judge_path %></li>-->
<!--<li><%= link_to 'Auctioneer', setup_auctioneer_path %></li>-->

<ul class="nav nav-tabs">
    <li class="active"><%= link_to 'Schedule', '#' %></li>
    <li><%= link_to 'Judge', setup_judge_path %></li>
    <li><%= link_to 'Auctioneer', setup_auctioneer_path %></li>
</ul>
<!--Schedule will appear here-->