<script>
    document.getElementById("judge-nav").className = "active";
</script>

<button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
  <%= link_to 'Back to list', judge_index_path %>
</button>

<h2>Scoring <%= @user.name %></h2>
<h3>Contest: <%= @contest.contest_name %></h3>
<h3>Division: <%= @div.division_name %></h3>
<h3>Round: <%= @div.round %></h3>

<!--
<div id='scoresheet'>
<form class="form-horizontal">
  <div class="form-group">
    <label for="question1" class="col-sm-2 control-label">Question 1</label>
    <div class="col-sm-5">
      <input class="form-control" placeholder="0-10">
    </div>
  </div>
  
  <div class="form-group">
    <label for="question2" class="col-sm-2 control-label">Question 2</label>
    <div class="col-sm-5">
      <input class="form-control" placeholder="Explain">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Question 3</label>
    <div class='col-sm-10'>
        <input type="checkbox" value="option1">   1   </input>
        <input type="checkbox" value="option2">   2   </input>
        <input type="checkbox" value="option3">   3   </input>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
      <span id="helpBlock" class="help-block">Note that once you submit,
      you come back to it again!</span>
    </div>
  </div>
</form>
</div>
-->

<div id='scoresheet'>
<% qidx = 1 %>
<%= form_for :judges, :url =>  judge_path(current_user), :html => { :method => :put }  do %>
  <%#= render 'shared/errors', object: @scores%>
  <% @scores.each do |score| %>
  <% @qs.each do |q| %>
      <% if q.id == score[0].question_id && @auc.id == score[0].auctioneer_id %>
        <%= fields_for "output[]",score[0] do |score_fields| %>
        <div class="form-group">
          <label > Question <%= qidx %>(type: <%= q.dataType%> ): <%= q.content %></label>
          <% qidx = qidx + 1 %>
        </div>
        <div class="form-group">
          <%= score_fields.text_field :score, class: 'form-control', required: true %>
        </div>
        <%end%>
      <%end%>
  <% end %>
  <% end %>
    
  <div class="form-group"> 
    <input type="submit" value='Submit' class="btn btn-primary btn-med">
    <span id="helpBlock" class="help-block">Note that once you submit this page,
    you cannot view this page again!</span>
  </div>
<% end %>
</div>