<script>
    document.getElementById("judge-nav").className = "active";
</script>

<div class="container">
<h3><%= current_user.name %> Contestants: </h3>
<h3>Your Contest: <%= Contest.find(@currJudge.contest_id).contest_name %></h3>
<br>

<h4>Auctioneers</h4>
<div class="container" id="contestantDiv">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Division</th>
        <th>Round</th>
        <th>Link to scoresheet</th>
      </tr>
    </thead>
    <tbody>
      <% @aucList.each do |auc| %>
        <tr>
          <td><%= User.find(auc.user_id).name %></td>
          <td><%= Division.find(auc.division_id).division_name %></td>
          <td><%= Division.find(auc.division_id).round %></td>
          <td><%= link_to 'Scoresheet', judge_score_path(:auc => auc.id) %></td>
        </tr>
      <% end %> 
      
    </tbody>
  </table>
</div>
