<script>
    document.getElementById("judge-nav").className = "active";
</script>

<button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
  <%= link_to 'Back to list', judge_index_path %>
</button>

<h3>Scoring: <bold><%= User.find(@scoringAuc.user_id).name %> </bold></h3>
<h3><small>Contest: <%= @corrContest.contest_name %></small></h3>
<h3><small>Division: <%= Division.find(@scoringAuc.division_id).division_name %></small></h3>
<h3><small>Round: <%= Division.find(@scoringAuc.division_id).round %></small></h3>

<div id='scoresheet'>
<form class="form-horizontal">
  <% count = 1 %> 
  <% @questions.each do |question| %> 
    <div class="form-group">
      <label class="col-sm-2 control-label">
        <%= question.content %>
      </label>
      <div class="col-sm-5">
        <input class="form-control">
      </div>
    </div>
    <% count += 1 %> 
  <% end %> 
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
      <span id="helpBlock" class="help-block">Note that once you submit,
      you come back to it again!</span>
    </div>
    
  </div>
  
  
</form>
</div>



